@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Jura:wght@300&display=swap');

* {
margin: 0;
padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    font-size: 21px;
    font-family: 'Jura', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-gap: 5px;
}
.grid-item {
    border: 1px solid #000000;
    padding: 5px;
}
.grid-img {
    width: 100%;
    gap: 20px;
    width: 300px;
    height: 300px;

}
.post-title {
    font-size: 45px;
    margin-bottom: 5px;
}
.post-subtitle {
    font-size: 15px;
    margin-bottom: 40px;
}

.post-content1 {
    font-size: 17;
    margin-bottom: 20px;
}

.post-content2 {
    font-size: 17;
    margin-bottom: 20px;
}

.top-bar {
    background-color: #F6F6F6;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top-bar-icons {
    display: flex;
    width: 50px;
    height: 50px;
}

.top-bar-icon {
    margin: 0 10px;
    width: 50px;
    height: 50px;
}